<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" /> <!-- <uses-permission -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Helper.App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bonyadandroid"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".ui.Activity.user.AddadressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.user.AddressesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.MyservicesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.SubscriptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.Appointmentmanagectivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.user.DetailsspeciallistActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.user.SpecialistsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.TechnicalservicedetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.AddserviceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.EdittechnicaldataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.TechnicalHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.technical.TechnicalregisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.ContactusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.StaticpageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.EditphoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.user.EdituserdataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.EditpassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.user.UserhomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.ResetpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.ForgetpassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.ActiveuserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.user.UserregisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.ChangelangueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.SelecttypeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Activity.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fudex.bonyad.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>